<div class="w3-row w3-card-4 w3-animate-left" style="height:100%;background: linear-gradient(to bottom, #33ccff 0%, #666699 100%);">
  <div class="w3-row w3-center" style="background-color:rgba(50,50,50,0.5)">
      <h3 class=" meraki-font-s5 meraki-text-color-c1"
          style="margin:0px 0px; padding: 10px 10px;width:90%;display:block;margin:auto"><mat-icon>drive_eta</mat-icon> Conductores </h3>
  </div>
  <div class="w3-row">
      <div class="w3-col s1 m1 l1"><p></p></div>
      <div class="w3-col s10 m10 l10">
      </div>
      <div class="w3-col s1 m1 l1"><p></p></div>
      
  </div>
  <div class="w3-section w3-padding">
    <div class="w3-row w3-responsive">
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Código</th>
                    <th>Origen</th>
                    <th>Destino</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="w3-input" type="text" placeholder="filtrar"></td>
                    <td><input class="w3-input" type="text" placeholder="filtrar"></td>
                    <td><input class="w3-input" type="text" placeholder="filtrar"></td>
                    <td><input class="w3-input" type="text" placeholder="filtrar"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  
</div>


